body {
  user-select: none;
  background-color: green;
}
.button {
  display: flex;
  margin: 10px auto 0 auto;
  width: 20%;
  height: 50px;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border-width: 5px;
  border-color: blue;
  background-color: lightblue;
  font-family: "Georgia";
  font-size: 24px;

}

img {
  display: flex;
  width: 60%;
  height: auto;
  justify-content: center;
  position: fixed;
  margin: 0 auto;
  margin-top: -5%;
  opacity: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes slidein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
